/* --- ESTILOS (Navbar) --- */
.navbar {
    background-color: var(--color-bg-card);
    box-shadow: var(--shadow-sm);
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--color-border);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 24px;
    color: var(--color-text-dark);
    font-weight: 700;
}
.navbar-logo-link {
    text-decoration: none;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
}

.navbar-menu li {
    margin-left: 25px;
}

.navbar-menu a {
    color: var(--color-text-body);
    font-weight: 600; /* Mais forte */
    font-size: 16px;
}

.navbar-menu a:hover,
.navbar-menu a.active {
    color: var(--color-primary);
}

.navbar-link-sair {
    color: var(--color-danger) !important;
}
.navbar-link-sair:hover {
    color: var(--color-danger-hover) !important;
}